@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: #333;
  font-size: 1rem;
  font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}

.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  .site-title {
    padding: 20px 16px;
    line-height: 1px;
    // a {
    //   display: inline-block;
    // }
  }
}

#navi {
  background-color: #333;
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  li {
    font-size: 0.8rem;
    padding: 10px 60px 10px 0;
  }
  a {
    color: #fff;
  }
}

.pickup {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  margin-bottom: 60px;
  article {
    width: 32%;
  }
  .article-title {
    font-size: 1rem;
    margin: 10px 0 15px 0;
  }
}

// 以降複数回出て来る「READ MORE」というリンク
.readmore {
  font-size: 0.875rem;
  text-align: center;
  // 以下は疑似要素で下線を引くための設定
  a {
    padding-bottom: 1px;
    color: #333;
    position: relative;
  }
  a::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #333;
    transition: all 200ms ease;
  }
  a:hover::after {
    opacity: 0;
    transform: translateY(3px);
  }
}

#container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
main {
  width: 65%;
  article {
    margin-bottom: 80px;
    .article-title {
      font-size: 1.5rem;
      margin: 10px 0 15px 0;
    }
    ul {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 10px;
      li {
        font-size: 0.875rem;
        margin-right: 20px;
      }
    }
    .text {
      padding: 10px 40px 30px 40px;
    }
  }
}

#sidebar {
  width: 33%;
  padding: 20px;
  .side-title {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .author {
    text-align: center;
    margin-bottom: 60px;
    img {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      margin-bottom: 30px;
    }
    .profile {
      font-size: 0.875rem;
      text-align: left;
    }
  }
  .ranking {
    text-align: center;
    margin-bottom: 60px;
    article {
      margin-bottom: 30px;
      .article-title {
        font-size: 0.875rem;
        font-weight: normal;
        text-align: left;
      }
    }
  }
  .archive {
    text-align: center;
    margin-bottom: 60px;
    ul {
      border-bottom: solid  1px #777;
      li {
        font-size: 0.875rem;
        border-top: solid  1px #777;
        padding: 20px;
        text-align: left;
      }
    }
  }
}

.footer {
  font-size: 0.875rem;
  background-color: #f7f7f7;
  .content {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    // ここのpaddingの値を50pxから100pxに上げたが、twitter部分を埋め込んだら50pxで正解のレイアウトになった、、、
    .item {
      width: 30%;
      .footer-title {
        font-size: 1.125rem;
        font-weight: bold;
        margin-bottom: 30px;
      }
      ul.about-list {
        margin: 20px 0;
        li {
          margin-bottom: 5px;
        }
        // .arrow {
        //   position: relative;
        //   display: inline-block;
        //   padding-left: 12px;
        //   color: #333;
        // }
        // .arrow::before {
        //   content: '';
        //   width: 0;
        //   height: 0;
        //   border-style: solid;
        //   border-width: 6px 0 6px 8px;
        //   border-color: transparent transparent transparent #333;
        //   position: absolute;
        //   top: 50%;
        //   left: 0;
        //   margin-top: -6px;
        // }
      }
      .menu-list {
        border-bottom: solid  1px #777;
        li {
          border-top: solid  1px #777;
          padding: 15px;
          text-align: left;
        }
      }
    }
  }
  .copyright {
    font-size: 0.750rem;
    text-align: center;
    padding: 10px 0;
  }
}