html {
  font-size: 100%;
}

body {
  color: #333;
  font-size: 1rem;
  font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 10;
}

.header .site-title {
  padding: 20px 16px;
  line-height: 1px;
}

#navi {
  background-color: #333;
}

#navi ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navi li {
  font-size: 0.8rem;
  padding: 10px 60px 10px 0;
}

#navi a {
  color: #fff;
}

.pickup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 150px;
  margin-bottom: 60px;
}

.pickup article {
  width: 32%;
}

.pickup .article-title {
  font-size: 1rem;
  margin: 10px 0 15px 0;
}

.readmore {
  font-size: 0.875rem;
  text-align: center;
}

.readmore a {
  padding-bottom: 1px;
  color: #333;
  position: relative;
}

.readmore a::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #333;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.readmore a:hover::after {
  opacity: 0;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

main {
  width: 65%;
}

main article {
  margin-bottom: 80px;
}

main article .article-title {
  font-size: 1.5rem;
  margin: 10px 0 15px 0;
}

main article ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
}

main article ul li {
  font-size: 0.875rem;
  margin-right: 20px;
}

main article .text {
  padding: 10px 40px 30px 40px;
}

#sidebar {
  width: 33%;
  padding: 20px;
}

#sidebar .side-title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 30px;
}

#sidebar .author {
  text-align: center;
  margin-bottom: 60px;
}

#sidebar .author img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 30px;
}

#sidebar .author .profile {
  font-size: 0.875rem;
  text-align: left;
}

#sidebar .ranking {
  text-align: center;
  margin-bottom: 60px;
}

#sidebar .ranking article {
  margin-bottom: 30px;
}

#sidebar .ranking article .article-title {
  font-size: 0.875rem;
  font-weight: normal;
  text-align: left;
}

#sidebar .archive {
  text-align: center;
  margin-bottom: 60px;
}

#sidebar .archive ul {
  border-bottom: solid  1px #777;
}

#sidebar .archive ul li {
  font-size: 0.875rem;
  border-top: solid  1px #777;
  padding: 20px;
  text-align: left;
}
/*# sourceMappingURL=style.css.map */